/* You can add global styles to this file, and also import other style files */

//
// Standard Theme
//

@import '~@angular/material/theming';
// Plus imports for other components in your app.

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$dit-app-primary: mat-palette($mat-red);
$dit-app-accent:  mat-palette($mat-green, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dit-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$dit-app-theme: mat-light-theme($dit-app-primary, $dit-app-accent, $dit-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($dit-app-theme);

body {
  margin: 0;
  font-family: Roboto;
}

.warn {
  color: mat-color($dit-app-warn, 200);
}

.error {
  color: mat-color($dit-app-warn, A400);
}
