<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
  <mat-icon *ngIf="configuration.fullLabel().maticon">{{configuration.fullLabel().maticon}}</mat-icon>
  <img *ngIf="configuration.fullLabel().icon" class="mat-icon" src="assets/{{configuration.fullLabel().icon}}">
  <p>{{configuration.fullLabel().label}}/{{file.path}}</p>
  <ng-container *ngIf="configurations">
    <button color="accent" mat-icon-button (click)="openSaveAsExplorer()"
            matTooltip="Select another location..." i18n-matTooltip>
      <mat-icon>edit</mat-icon>
    </button>
  </ng-container>
</div>
