<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
  <p><span i18n><b>Project </b> {{project?.name}}</span>
    <button mat-icon-button (click)="openProjectDetails()" matTooltip="Details of the project (click to open)" i18n-matTooltip>
      <mat-icon>info</mat-icon>
    </button>
  </p>
  <app-translation-file-status
    [translationFileView]="project?.translationFileView"
    [translationFile]="project?.translationFile"
    [shortInfo]="true"
    (saved)="save($event)">
  </app-translation-file-status>
</div>
<p *ngIf="project?.isReviewModeActive()">
  <mat-icon matTooltip="As a reviewer translation is disabled. You can only mark translated units as reviewed" i18n-matTooltip>warning</mat-icon>
  <span i18n>You are currently working as reviewer!</span>
</p>
