<h3 matDialogTitle i18n>edit config</h3>
<div matDialogContent>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-select placeholder="configuration" i18n-placeholder formControlName="selectedFileAccessConfigurationIndex" name="selectedFileAccessConfigurationIndex">
        <mat-option *ngFor="let conf of fileAccessConfigurations(); let i = index" [value]="i" i18n>{{conf.type}} {{conf.shortLabel()}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <ng-container [ngSwitch]="selectedFileAccessConfiguration().type">
    <app-github-config-editor *ngSwitchCase="'Github'" [githubConfiguration]="activeConfiguration.configuration" (configurationChange)="setActiveConfiguration($event)">
    </app-github-config-editor>
    <span *ngSwitchDefault i18n>Sorry, not usable here</span>
  </ng-container>
</div>
<div mat-dialog-actions>
  <button mat-button matDialogClose [mat-dialog-close]="result()" i18n [disabled]="!isActiveConfigurationValid()">OK</button>
  <button mat-button matDialogClose (click)="cancel()" i18n>Cancel</button>
</div>
