<h3 i18n>Github access settings</h3>
<p i18n>
  By configuring an access to Github you can directly import translation files to TinyTranslator and store the translation in your Github repositories.
</p>
<div class="info">
  <p i18n>To use Github you need a <a href="https://github.blog/2013-05-16-personal-api-tokens/" target="_blank">Github Personal API token</a>.</p>
  <p>The link above describes its purpose and how to create it.</p>
</div>
<div fxLayout="column" fxLayoutGap="10px">
  <mat-expansion-panel *ngFor="let configuration of githubConfigurations | async; let i = index" [expanded]="isExpanded(configuration)">
    <mat-expansion-panel-header>{{configuration.fullLabel().label}}</mat-expansion-panel-header>
    <app-github-config-editor
            [githubConfiguration]="configuration"
            (storeConfiguration)="storeConfiguration($event)"
            (deleteConfiguration)="deleteConfiguration($event)">
    </app-github-config-editor>
  </mat-expansion-panel>
  <button mat-fab (click)="addConfiguration()" [disabled]="addedConfiguration.getValue()" matTooltip="Add another configuration" i18n-matTooltip><mat-icon>add</mat-icon></button>
</div>
