<mat-card>
  <mat-card-header>
    <mat-card-title>
      <p i18n><b>Project </b> {{project?.name}}</p>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-translation-file-status [translationFileView]="project?.translationFileView" [translationFile]="project?.translationFile"
                                 (saved)="save($event)"></app-translation-file-status>
  </mat-card-content>
  <mat-card-actions *ngIf="showActions">
    <button mat-icon-button *ngIf="!project?.translationFile?.isDirty()" (click)="deleteProject()"  matTooltip="Delete Project" i18n-matTooltip><mat-icon>delete</mat-icon></button>
    <button mat-fab *ngIf="project?.canTranslate()" (click)="startWork()" matTooltip="Start Translation" i18n-matTooltip><mat-icon>translate</mat-icon></button>
  </mat-card-actions>
</mat-card>
