<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="file-explorer-tree">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding
                 (click)="selected(node)"
                 [ngClass]="{ 'background-highlight': activeNode === node }">
    <button mat-icon-button disabled></button>
    {{node.item}}
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding
                 (click)="selected(node)"
                 [ngClass]="{ 'background-highlight': activeNode === node }">
    <button mat-icon-button matTreeNodeToggle>
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.item}}
    <mat-progress-bar *ngIf="node.isLoading"
                      mode="indeterminate"
                      class="tree-progress-bar">
    </mat-progress-bar>
  </mat-tree-node>
</mat-tree>
<p>Selected: {{activeNode?.item}}</p>
