<div fxLayout="column" style="min-width: calc(100vw-16px);"><!-- 16px = 2xmargin of container page -->
  <h1 i18n>Open a new project</h1>
  <form id="createProjectForm" fxLayout="column" [formGroup]="form">
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
      <mat-form-field fxFlex="90%">
        <input type="text" placeholder="Project name" i18n-placeholder matInput formControlName="projectName" name="projectName"/>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-select placeholder="load translation file from.." i18n-placeholder formControlName="selectedFileAccessConfigurationIndex" name="selectedFileAccessConfigurationIndex">
        <mat-option *ngFor="let accessor of fileAccessConfigurations() | async; let i = index" [value]="i" i18n>{{accessor.type}} {{accessor.shortLabel()}}</mat-option>
      </mat-select>
    </mat-form-field>
    <ng-container *ngIf="selectedFileAccessConfiguration()" [ngSwitch]="selectedFileAccessConfiguration().type">
      <app-translation-file-upload *ngSwitchCase="'Browser Upload and Download'"
                                   [createdProject]="createdProject"
                                   [configuration]="selectedFileAccessConfiguration()"
                                   (fileSelected)="fileSelectionChange($event)"
                                   (masterXmlFileSelected)="masterXmlFileSelectionChange($event)">
      </app-translation-file-upload>
      <app-translation-file-from-github *ngSwitchCase="'Github'"
                                        [createdProject]="createdProject"
                                        [configuration]="selectedFileAccessConfiguration()"
                                        (fileSelected)="fileSelectionChange($event)"
                                        (masterXmlFileSelected)="masterXmlFileSelectionChange($event)">
      </app-translation-file-from-github>
    </ng-container>
    <p><b i18n>Selected translation file:</b></p>
    <app-translation-file-status *ngIf="isFileSelected()"
                                 [translationFileView]="createdProject?.translationFileView"
                                 [translationFile]="createdProject?.translationFile">
    </app-translation-file-status>
    <p></p>
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
      <mat-form-field *ngIf="needsExplicitSourceLanguage()" fxFlex="50%"
                          matTooltip="Your selected file contains no information about the language used. You can set it here explicitly." i18n-matTooltip>
        <input placeholder="Explicitly set source language" i18n-placeholder matInput formControlName="sourceLanguage" name="sourceLanguage"/>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
      <div fxFlex="50%">
        <p i18n>Workflow type you are using</p>
        <mat-radio-group formControlName="workflowType" name="workflowType">
          <mat-radio-button value="singleuser" i18n
                           matTooltip="Single user workflow. You are translator and reviewer in one person. Every translated unit will directly get the state 'final'"
                           matTooltipPosition="after" i18n-matTooltip>Single User</mat-radio-button>
          <mat-radio-button value="withReview" i18n
                           matTooltip="Workflow with explicit translator and reviewer. Translation get te state 'translated'. The reviewer must mark them as 'final' later."
                           matTooltipPosition="after" i18n-matTooltip>Translator/Reviewer</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <div *ngIf="isWorkflowWithReview()">
          <p i18n>Your role</p>
          <mat-radio-group name="userRole" formControlName="userRole">
            <mat-radio-button value="translator" i18n>Translator</mat-radio-button>
            <mat-radio-button value="reviewer" i18n>Reviewer</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
    <p></p>
    <button fxFlexAlign="center"
            mat-raised-button
            color="primary"
            (click)="emitAddProject()"
            matTooltip="add as new project and start working" i18n-matTooltip
            [disabled]="!isInputComplete()">
      <mat-icon>add</mat-icon>&nbsp;<span i18n>Add project</span>
    </button>
  </form>
</div>
