<div fxLayout="column" style="min-width: calc(100vw-16px);"><!-- 16px = 2xmargin of container page -->
  <h1 i18n>Edit project</h1>
  <form id="editProjectForm" fxLayout="column" [formGroup]="form">
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
      <mat-form-field fxFlex="80%">
        <input type="text" placeholder="Project name" i18n-placeholder matInput formControlName="projectName" name="projectName"/>
      </mat-form-field>
    </div>
    <p><b i18n>Selected translation file:</b></p>
    <app-translation-file-status
                                 [translationFileView]="project?.translationFileView"
                                 [translationFile]="project?.translationFile">
    </app-translation-file-status>
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
      <mat-form-field *ngIf="hasExplicitSourceLanguage()" fxFlex="50%"
                          matTooltip="Your selected file contains no information about the language used. You can set it here explicitly." i18n-matTooltip>
        <input placeholder="Explicitly set source language" i18n-placeholder matInput formControlName="sourceLanguage" name="sourceLanguage"/>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
      <div fxFlex="50%">
        <p i18n>Workflow type you are using</p>
        <mat-radio-group formControlName="workflowType" name="workflowType">
          <mat-radio-button value="singleuser" i18n>Single User</mat-radio-button>
          <mat-radio-button value="withReview" i18n>Translator/Reviewer</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <div *ngIf="isWorkflowWithReview()">
          <p i18n>Your role</p>
          <mat-radio-group name="userRole" formControlName="userRole">
            <mat-radio-button value="translator" i18n>Translator</mat-radio-button>
            <mat-radio-button value="reviewer" i18n>Reviewer</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
    <button fxFlexAlign="center"
            mat-raised-button
            color="primary"
            (click)="editProject()"
            matTooltip="commit changes and continue working" i18n-matTooltip>
      <mat-icon>edit</mat-icon>&nbsp;<span i18n>Save project changes</span>
    </button>
  </form>
</div>
